#container {
    height: 270px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    width: 248px;
}

#container div { position: absolute; }

#beaker {
    border: 10px solid #000;
    border-top: 0;
    border-radius: 0 0 30px 30px;
    height: 200px;
    left: 14px;
    bottom: 0;
    width: 200px;
}

/*#beaker:before,
#beaker:after {
    border: 10px solid #000;
    border-bottom: 0;
    border-radius: 30px 30px 0 0;
    content: '';
    height: 30px;
    position: absolute;
    top: -40px;
    width: 30px;
}

#beaker:before { left: -65px; }
#beaker:after { right: -50px; }*/

#liquid {
    background-color: #0e83cd;
    border: 10px solid #0e83cd;
    border-radius: 0 0 20px 20px;
    bottom: 0;
    height: 170px;
    overflow: hidden;
    width: 180px;
}

#liquid:after {
    background-color: rgba(255, 255, 255, 0.25);
    bottom: -10px;
    content: '';
    height: 200px;
    left: -40px;
    position: absolute;
    transform: rotate(30deg);
    -webkit-transform: rotate(15deg);
    width: 110px;
}

#liquid .bubble {
    -webkit-animation-name: bubble;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    background-color: rgba(255, 255, 255, 0.2);
    bottom: 0;
    border-radius: 10px;
    height: 20px;
    width: 20px;
}

@-webkit-keyframes bubble {
    0% { bottom: 0; }

    50% {
        background-color: rgba(255, 255, 255, 0.2);
        bottom: 80px;
    }

    100% {
        background-color: rgba(255, 255, 255, 0);
        bottom: 160px;
    }
}

.bubble1 {
    left: 10px;
    -webkit-animation-delay: 1000ms;
    -webkit-animation-duration: 1000ms;
}

.bubble2 {
    left: 50px;
    -webkit-animation-delay: 700ms;
    -webkit-animation-duration: 1100ms;
}

.bubble3 {
    left: 100px;
    -webkit-animation-delay: 1200ms;
    -webkit-animation-duration: 1300ms;
}

.bubble4 {
    left: 130px;
    -webkit-animation-delay: 1100ms;
    -webkit-animation-duration: 700ms;
}

.bubble5 {
    left: 170px;
    -webkit-animation-delay: 3300ms;
    -webkit-animation-duration: 800ms;
}